---
import EmployeeCard from "../components/EmployeeCard.svelte";
import TagGrid from "../components/TagGrid.svelte";
import Timeline from "../components/Timeline/Timeline.svelte";
import Base from "../layouts/Base.astro";
import { getEntry } from "astro:content";
import type { TimelineData } from "../types";

const about = await getEntry("about", "data");
---

<Base title="Über mich">
  <!-- TODO: Add h1-title like at project gallery -->
  <section
    class="container mx-auto px-4 grid grid-cols-1 lg:grid-cols-2 mt-8 gap-12 lg:gap-32"
  >
    <article class="flex items-center justify-center">
      <EmployeeCard
        portraitSrc={about.data.image}
        name={about.data.name}
        role={about.data.role}
      />
    </article>
    <article class="lg:col-start-2 w-full">
      <div class="flex flex-col xl:flex-row items-center mb-4">
        <!-- TODO: Add h2-title -->
        <p class="text-md text-gray-200 0 mb-8 lg:mb-0">
          {about.data.introduction}
        </p>
        <div class="flex flex-col mb-8 lg:mb-0 xl:ml-8 justify-start h-full">
          <h2 class="text-xl text-gray-200 mb-4 lg:mt-4">Meine Stärken:</h2>
          <div class="min-w-72"><TagGrid /></div>
        </div>
      </div>
      <div class="mb-8">
        <p class="text-md text-gray-200 py-2">{about.data.elaboration}</p>
      </div>
      <!-- TODO: Add h2-title -->
      <Timeline
        timeLineEntries={about.data.timeLineData as TimelineData[]}
        client:only="svelte"
      />
    </article>
  </section>
</Base>
