---
import Pill from "../../components/Pill.svelte";
import Base from "../../layouts/Base.astro";
import { availableTags } from "../../../constants";
import GithubIcon from "../../components/Icons/GithubIcon.svelte";
import PDFIcon from "../../components/Icons/PDFIcon.svelte";
import WebIcon from "../../components/Icons/WebIcon.svelte";
import { getEntry } from "astro:content";
import ProjectImage from "../../components/Projects/ProjectImage.svelte";
import IconButton from "../../components/IconButton.svelte";
const { slug } = Astro.params;

const project = await getEntry("projects", slug!);

if (!project) {
  return Astro.redirect("/404");
}

const allImages =
  project.data.content?.map((content) => content.graphics).flat() || [];

const { title, tags, longDescription, content, url, linktype } = project.data;
---

<Base title={title}>
  <div
  class="container flex flex-col items-center mx-auto place-content-center md:grid md:grid-cols-2 p-8 md:row-auto"
  >
    <h1 class="text-6xl w-full text-gray-100 mb-4 md:col-span-1 text-center">
      {title}
    </h1>
    <div
      class="hidden md:grid md:grid-cols-3 md:gap-8 md:mr-16 md:col-span-1 md:row-start-2"
    >
      {
        content?.map((content, index) =>
          content.graphics?.map((graphic, graphicIndex) => (
            <ProjectImage
              src={graphic.src}
              alt={graphic.alt}
              images={allImages}
              index={allImages.indexOf(graphic)}
              classes={`hidden md:block md:col-span-2  ${index % 2 === 0 ? "md:col-start-1" : "md:col-start-2"} transition-transform transform hover:scale-105 duration-300`}
              client:only="svelte"
            />
          ))
        )
      }
    </div>

    <article class="self-start row-span-full col-start-2 mb-8 w-full">
      <div class="md:flex md:items-start md:gap-8">
        <div>
          <h2>Kapazität</h2>
          <span>{project.data.projectDuration}</span>
          <h2>Team</h2>
          <span>{project.data.team}</span>
        </div>
        <article class="md:max-w-96">
          <h2 class="text-2xl text-gray-100 mt-8 md:mt-0">Fähigkeiten</h2>
          <div class="flex flex-wrap gap-2 mt-4">
            {
              tags &&
                tags.map((tag) => {
                  const tagData = availableTags.find((t) => t.name === tag);
                  if (!tagData) return null;
                  return <Pill color={tagData.color} description={tag} />;
                })
            }
          </div>
        </article>
      </div>
    </article>
    <div class="row-start-2 self-start">
      <p
        class="text-lg text-gray-100 md:block me-8"
        set:html={longDescription}
      />
      {
        content?.map((content) => (
          <>
            <>
              {content.title && content.body && (
                <section class="pb-16 2xl:pb-4">
                  <h2 class="text-3xl text-gray-100 mb-4">
                    <a
                      href={"#" + content.title}
                      id={content.title}
                      class="text-gray-100"
                    >
                      {content.title}
                    </a>
                  </h2>
                  <p class="text-lg text-gray-100 col-span-2 lg:col-span-full lg:col-start-4 md:col-end-7">
                    {content.body}
                  </p>
                </section>
              )}
            </>
            <div class="grid grid-cols-2 gap-8 mt-8 md:hidden mb-8">
              {content.graphics?.map((graphic) => (
                <ProjectImage
                  src={graphic.src}
                  alt={graphic.alt}
                  images={allImages!}
                  index={allImages!.indexOf(graphic)}
                  classes="col-span-3 col-start-1 col-end-3 block md:hidden transition-transform transform hover:scale-105 duration-300"
                  client:only="svelte"
                />
              ))}
            </div>
          </>
        ))
      }
      {
        // TODO: move to typecheck whenever linktype is an enum
        url && linktype == "pdf" ? (
          <IconButton
            href={url}
            target="_blank"
            label="Zum ausführlichen Dokument"
          >
            <PDFIcon />
          </IconButton>
        ) : url && linktype == "demo" ? (
          url && (
            <IconButton href={url} target="_blank" label="Zur Live-Version">
              <WebIcon />
            </IconButton>
          )
        ) : (
          url && (
            <IconButton
              href={url}
              target="_blank"
              label="Zum Github Repository"
            >
              <GithubIcon />
            </IconButton>
          )
        )
      }
    </div>
  </div>
</Base>
