---
interface Props {
  title: string;
}

import { getEntry } from "astro:content";
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const layout = await getEntry("layout", `${lang}/data`);
const { title } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={layout.data.head.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={layout.data.head.favicon} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen"> <!-- insert class="background" here -->
    <slot />
  </body>
</html>

<style>
  .background {
    background: url("../../public/global/background.jpg") no-repeat
      center center fixed;
    background-size: cover;
  }
</style>
